@keyframes placeholder {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes displayShow{
    0%{
        display: none;
    }
    100%{
        display: block;
    }
}